body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

/* inicio do estilo header */
header {
    text-align: center;
    background-color: #CAECFF;
}

header h1 {
    margin: 10px 0 10px 0;
    padding: 0.1em;
    font-size: 3.5em;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.menu li {
    flex: 0.1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3px;
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 8px;
    padding: 3px;
    background-color: #CAECFF;
}

.menu ul li a:hover {
    border: 1px solid #CAECFF;
    color: rgb(59, 59, 59);
    background-color: #34E3A9;
}

.iconGiftDog {
    width: 65px;
    height: 55px;
}

/* conteúdo */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.sobreNos {
    background-color: #34e3a9b6;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px #34E3A9;
}

.sobreNos h2 {
    text-align: center;
    font-size: 32px;
}

.sobreNos p {
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
}

.conduta {
    width: 100%;
    height: 50%;
    background-color: #CAECFF;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.conduta p {
    text-align: justify;
    font-size: 1em;
}

.conduta h1 {
    font-size: 32px;
    text-align: center;
    margin: 10px 0 25px;
}

.condutaImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.condutaImg img {
    width: 250px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;

}

strong {
    color: rgb(165, 4, 4);
    font-weight: bolder;
    font-size: 1.2em;
}

footer {
    background-color: #333;
    color: #fff;
    margin: 15px 0 0 0;
    padding: 5px;
    text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 920px) {
    header h1 {
        font-size: 2em;
    }

    header .menu ul li a {
        width: 55%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        font-size: 16px;

    }
}

@media only screen and (max-width: 620px) {
    header h1 {
        font-size: 1.8em;
    }

    header .menu ul {
        display: flex;
        flex-wrap: wrap;
    }

    .conduta ol {
        text-align: justify;

    }
}