/* Estilo do corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

/* inicio do estilo header */
header {
    text-align: center;
    background-color: #CAECFF;
}

header h1 {
    margin: 10px 0 10px 0;
    padding: 0.1em;
    font-size: 3.5em;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.menu li {
    flex: 0.1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3px;
    margin-bottom: 10px;
}


.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;
    padding: 3px;
    font-weight: bold;
    background-color: #CAECFF;
}

.menu ul li a:hover {
    border: 1px solid #CAECFF;
    color: rgb(59, 59, 59);
    background-color: #34E3A9;
}

.iconGiftDog {
    width: 65px;
    height: 55px;
}

/* fim do header */

/* inicio do estilo do conteúdo */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.sobreNos {
    background-color: #34e3a9b6;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px #34E3A9;
}

.sobreNos p {
    font-size: 18px;
    font-weight: bolder;
    text-align: justify;
}

.sobreNos h2 {
    text-align: center;
    font-size: 32px;
}

.animais {
    background-color: #CAECFF;
    border-radius: 10px;


}

.animais h2 {
    font-size: 32px;
    text-align: center;
    margin: 10px 0 25px;
}

.animais h3 {
    font-size: 22px;
    text-align: center;
    margin: 10px 0 25px;
}

.animais ul li img {
    height: 12em;
    max-width: 100%;
    /* margin-bottom: 10px; */
    border-radius: 15px;
}

.animais ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.animais li, .menu li {
    flex: 0.1 1 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 15px; */
    /* margin-bottom: 10px; */
}

.animais p {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    /* text-align: start; */
    padding: 10px;
    width: 400px;
    height: auto;
    box-sizing: border-box;
}

/* Fim conteudo */

/* fim do conteúdo */
footer {
    background-color: #333;
    color: #fff;
    margin: 15px 0 0 0;
    padding: 5px;
    text-align: center;
}


@media only screen and (max-width: 620px) {
    header h1 {
        font-size: 1.8em;
    }

    header h1 span {
        display: none;
    }

    header .menu ul {
        display: flex;
        flex-wrap: wrap;
    }

    header .menu ul li a {
        width: 55%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        font-size: 16px;

    }

    .animais p {
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        text-align: start;
        padding: 10px;
        width: 100%;
        height: auto;
        margin: -10px 0 0 0;

    }
}